/* style.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family:Arial, sans-serif;
}

body{
  background:#f8f9fa;
  color:#222;
}

.toast-success{
  position: fixed;
  bottom: 25px;
  right: 25px;

  background: rgba(1, 43, 69, 0.95);
  color: #fff;

  padding: 16px 20px;
  border-radius: 12px;

  font-size: 14px;
  max-width: 300px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);

  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s ease;

  z-index: 9999;
}

.toast-success.show{
  opacity: 1;
  transform: translateY(0);
}

/* Loader */
.loader{
  position:fixed;
  width:100%;
  height:100%;
  background:#012b45;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  z-index:9999;
}

/* Navbar */
.navbar{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:rgba(0,0,0,0.5);
  z-index:1000;
}

.logo{
  color:#fff;
  font-size:28px;
  font-weight:bold;
}

.nav-links{
  display:flex;
  gap:30px;
  list-style:none;
}

.nav-links a{
  text-decoration:none;
  color:white;
  transition:0.3s;
}

.nav-links a:hover{
  color:gold;
}

.hamburger{
  display:none;
  color:white;
  font-size:25px;
  cursor:pointer;
}

/* Hero */
.hero{
  height:100vh;
  background:url('https://images.unsplash.com/photo-1499793983690-e29da59ef1c2?q=80&w=1200&auto=format&fit=crop') center/cover;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
}

.hero-content{
  position:relative;
  color:white;
  z-index:2;
}

.hero-content h1{
  font-size:60px;
  margin-bottom:20px;
}

.hero-content p{
  margin-bottom:20px;
  font-size:20px;
}

.btn{
  background:gold;
  color:black;
  padding:12px 30px;
  text-decoration:none;
  border-radius:30px;
}

/* Sections */
.section{
  padding:100px 8%;
}

.section-title{
  text-align:center;
  margin-bottom:50px;
  font-size:40px;
  color:#012b45;
}

/* Search */
.search-section{
  padding:60px 8%;
  background:#012b45;
  color:white;
  text-align:center;
}

.filters{
  margin-top:20px;
  display:flex;
  gap:10px;
  justify-content:center;
  flex-wrap:wrap;
}

.filters input,
.filters select,
.filters button{
  padding:12px;
  border:none;
  border-radius:8px;
}

.filters button{
  background:gold;
  cursor:pointer;
}

/* Villas */
.villa-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

.villa-card{
  background:white;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
  transition:0.3s;
}

.villa-card:hover{
  transform:translateY(-10px);
}

.villa-card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

.villa-info{
  padding:20px;
}

.villa-info button{
  margin-top:15px;
  background:#012b45;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:20px;
  cursor:pointer;
}


.villa-modal{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:9999;
}

.villa-box{
  background:white;
  padding:25px;
  width:90%;
  max-width:500px;
  border-radius:15px;
}

.villa-box h2{
  color:#012b45;
}

.villa-box ul{
  padding-left:20px;
}

.villa-box button{
  margin-top:15px;
  padding:10px 15px;
  background:#012b45;
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

/* Amenities */
.amenities-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:20px;
  text-align:center;
}

.amenity{
  background:white;
  padding:30px;
  border-radius:20px;
  transition:0.3s;
}

.amenity:hover{
  background:#012b45;
  color:white;
}

.amenity i{
  font-size:40px;
  margin-bottom:15px;
  color:gold;
}


/* Gallery */
.gallery-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
}

.gallery-container img{
  width:100%;
  border-radius:15px;
  cursor:pointer;
  transition:0.3s;
}

.gallery-container img:hover{
  transform:scale(1.05);
}

/* Lightbox */
.lightbox{
  display:none;
  position:fixed;
  z-index:9999;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  justify-content:center;
  align-items:center;
}

.lightbox-img{
  width:80%;
  max-width:800px;
}

.close{
  position:absolute;
  top:30px;
  right:50px;
  color:white;
  font-size:40px;
  cursor:pointer;
}

/* Booking */
.booking form{
  display:flex;
  flex-direction:column;
  gap:15px;
  max-width:500px;
  margin:auto;
}

.booking input,
.booking button,
.contact-form input,
.contact-form textarea,
.contact-form button{
  padding:15px;
  border-radius:10px;
  border:1px solid #ccc;
}

.booking button,
.contact-form button{
  background:#012b45;
  color:white;
  cursor:pointer;
}

/* Testimonials */
.testimonial-slider{
  text-align:center;
}

.testimonial{
  display:none;
}

.testimonial.active{
  display:block;
}

/* Contact */
.contact-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px;
}

.contact-form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.map iframe{
  width:100%;
  height:100%;
  min-height:300px;
  border:none;
  border-radius:20px;
}

/* Socials */
.socials{
  text-align:center;
  margin-top:30px;
}

.socials i{
  margin:0 10px;
  font-size:25px;
  color:#012b45;
  cursor:pointer;
}

/* Footer */
footer{
  background:#012b45;
  color:white;
  text-align:center;
  padding:20px;
}

/* Floating Button */
.floating-btn{
  position:fixed;
  bottom:20px;
  right:20px;
  background:gold;
  color:black;
  padding:15px 20px;
  border-radius:30px;
  text-decoration:none;
  z-index:1000;
}

.back-btn{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#012b45;
  color:white;
  padding:12px 25px;
  border-radius:25px;
  text-decoration:none;
  font-weight:bold;
  box-shadow:0 8px 20px rgba(0,0,0,0.3);
  transition:0.3s;
  z-index:9999;
}

.back-btn:hover{
  background:gold;
  color:#012b45;
  transform:scale(1.05);
}

/* CHATBOT BUTTON */
.chatbot-btn{
  position:fixed;
  bottom:20px;
  right:20px;
  width:60px;
  height:60px;
  background:linear-gradient(135deg,#012b45,gold);
  color:white;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
  cursor:pointer;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
  z-index:1000;
}

/* CHAT BOX */
.chatbot-box{
  position:fixed;
  bottom:90px;
  right:20px;
  width:300px;
  height:400px;
  background:white;
  border-radius:15px;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
  display:none;
  flex-direction:column;
  overflow:hidden;
  z-index:1000;
}

/* HEADER */
.chat-header{
  background:#012b45;
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* BODY */
.chat-body{
  flex:1;
  padding:10px;
  overflow-y:auto;
  font-size:14px;
}

.bot{
  background:#f1f1f1;
  padding:8px;
  border-radius:10px;
  margin:5px 0;
}

.villa-display{
  text-align:center;
  margin:30px 0;
}

.villa-display h3{
  font-size:24px;
  color:#012b45;
  background:white;
  display:inline-block;
  padding:10px 20px;
  border-radius:10px;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.villa-modal{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:9999;
}

.villa-box{
  background:white;
  padding:25px;
  width:90%;
  max-width:500px;
  border-radius:15px;
}

.villa-box h2{
  color:#012b45;
}

.villa-box ul{
  padding-left:20px;
}

.villa-box button{
  margin-top:15px;
  padding:10px 15px;
  background:#012b45;
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

/* INPUT */
.chat-input{
  display:flex;
  border-top:1px solid #ddd;
}

.chat-input input{
  flex:1;
  padding:10px;
  border:none;
}

.chat-input button{
  background:gold;
  border:none;
  padding:10px;
  cursor:pointer;
}
.contact-details{
  margin-top:25px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contact-item{
  display:flex;
  align-items:center;
  gap:15px;
  background:#f5f5f5;
  padding:15px;
  border-radius:12px;
}

.contact-item i{
  font-size:20px;
  color:#012b45;
}

.contact-item p{
  margin:0;
  color:#333;
}

/* SUCCESS PAGE */
.success-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url('https://images.unsplash.com/photo-1500375592092-40eb2168fd21?q=80&w=1200') center/cover no-repeat;
}

.success-box{
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.3);
  max-width:450px;
}

.checkmark{
  width:70px;
  height:70px;
  background:gold;
  color:#012b45;
  font-size:35px;
  font-weight:bold;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 auto 20px;
}

.success-box h1{
  color:#012b45;
  margin-bottom:10px;
}

.success-box p{
  color:#555;
  margin-bottom:10px;
}

.email-note{
  font-size:14px;
  color:#333;
}

.home-btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#012b45;
  color:white;
  text-decoration:none;
  border-radius:25px;
  transition:0.3s;
}

.home-btn:hover{
  background:gold;
  color:#012b45;
}

.loader{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(1,43,69,0.95);
  color:white;

  display:none;

  justify-content:center;
  align-items:center;

  font-size:28px;
  z-index:9999;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Responsive */
@media(max-width:768px){

  .nav-links{
    position:absolute;
    top:80px;
    right:-100%;
    flex-direction:column;
    background:#012b45;
    width:250px;
    padding:20px;
    transition:0.3s;
  }

  .nav-links.active{
    right:0;
  }

  .hamburger{
    display:block;
  }

  .hero-content h1{
    font-size:40px;
  }

  .contact-container{
    grid-template-columns:1fr;
  }
}
