*{
}

.contact-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px;
}

.contact-form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.map iframe{
  width:100%;
  min-height:300px;
  border:none;
  border-radius:20px;
}

.socials{
  text-align:center;
  margin-top:30px;
}

.socials i{
  font-size:25px;
  margin:0 10px;
  color:#012b45;
}

footer{
  background:#012b45;
  color:white;
  text-align:center;
  padding:20px;
}

.floating-btn{
  position:fixed;
  bottom:20px;
  right:20px;
  background:gold;
  color:black;
  padding:15px 20px;
  border-radius:30px;
  text-decoration:none;
  z-index:1000;
}

@media(max-width:768px){

  .nav-links{
    position:absolute;
    top:80px;
    right:-100%;
    flex-direction:column;
    background:#012b45;
    width:250px;
    padding:20px;
    transition:0.3s;
  }

  .nav-links.active{
    right:0;
  }

  .hamburger{
    display:block;
  }

  .hero-content h1{
    font-size:40px;
  }

  .contact-container{
    grid-template-columns:1fr;
  }
}
